.resizer {
	width: 5px;
	cursor: ew-resize;
}

.arrow-up {
	padding: 9px !important;
	border-radius: 50%;
	height: 29px !important;
	width: 29px !important;
	position: absolute;
    right: 53px;
    bottom: 6px;
	border: 0;
}

.overflow {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.mx-w-70 {
	max-width: 70%;
}
